#description{
  font-size: 20px;
  font: italic;
  color: #101010;
  font-family: papyrus;
}
#title{
  font-size: 35px;
  color: #101010;
}
body{
    background-image: url(girl.jpeg);
    backdrop-filter: blur(20px);

    background-size: auto;


}
label{
  font-size: 20px;
}
p{
  font-size: 20px;
}
div {
  width: 300px;
  border: 5px solid #404040;
  padding: 50px;
  margin: auto;
  box-sizing:inherit;
  background-color: #B0B0B0;

}

form{
  margin: 10px auto;
  width: 300px;
  color: #181818;
 font-family: cursive;
}

input{
  padding: 5px;
  font-size: inherit;
}
